.App-section {
  width: 600px;
  min-height: 320px;
  max-width: 90%;
  padding: 20px 5%;
  margin: 20px 0;
  background: rgba(151, 180, 255, 0.2);
  border-radius: 20px;
}

.App-section h2 {
  font-size: calc(18px + 0.9vmin);
}

.App-section .Result-wrap {
  margin: 40px 0 20px 0;
}

.App-section .Result {
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 30px 20px;
  border-radius: 10px;
  background-color: #C3F4BB;
  font-size: calc(14px + 0.6vmin);
}

.App-section .Result .Prefix {
  color: #244A0C;
}


.App-section .Result .Result-value {
  color: #1066A5;
}


